# LightScan v2.0 PHANTOM — Developer: Light
# Zero hard dependencies — all stdlib.
# Install optionals for full brute capability:

# SSH brute (full)
paramiko

# MySQL brute (full)
pymysql

# PostgreSQL brute (full)
psycopg2-binary

# SMB / RDP brute (full)
impacket

# LDAP brute (full)
ldap3

# VNC brute (full)
pycryptodome

# MSSQL brute (full)
pymssql
